* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purpel: rgba(198, 182, 210, 1);
}

.container {
    position: relative;
    z-index: 2;
}

/* moboResBan start*/
.Bodyoverflow {
    overflow: hidden;
}

.menubarmobo {
    display: none;
}

.menubarmobo span {
    cursor: pointer;
}

.menubarmobo span i {
    font-size: 25px;
}

.moboResBan {
    display: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    /* background-color: red; */
    z-index: 1000;
    transition: all .3s ease-in-out;
    border-radius: 0 50% 50% 50%;
    overflow: hidden;
}

.moboResBan .Moboouter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.moboResBan.active {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.moboResBan .closeIcon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 20px 0;
}

.moboResBan .Moboouter .moboLogo a {
    font-family: 'butlerbold';
    font-size: 52px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
}

.moboResBan .closeIcon i {
    font-size: 30px;
    color: #000;
}

.moboResBan .headerRight {
    width: 100%;
    height: 100%;
    background-image: url(assets/images/menubg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.moboResBan .headerRight .navigationBar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 17px;
}

.moboResBan .headerRight .navigationBar {
    margin-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.moboResBan .headerRight .navigationBar ul li a {
    text-decoration: none;
    text-transform: capitalize;
}

.moboResBan .headerRight .navigationBar .booking {
    margin-top: 45px;
}

.moboResBan .headerRight .navigationBar nav ul li {
    padding: 0 20px;
    display: block;
}

.moboResBan .headerRight .navigationBar nav ul li a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.moboResBan .headerRight .navigationBar .booking ul li a {
    padding: 16px 25px;
    border: 1px solid #000;
    border-radius: 50px;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/* moboResBan-end */

body {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

header {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* topBar */
.topBar {
    background-color: var(--purpel);
    text-align: center;
    padding: 10px 0;
}

.topBar span {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;

}

.topBar span a {
    font-size: 14px;
    color: #fff;
}

.topBar span a:hover {
    color: #f7d5b3;
}

.hoemesec1 {
    height: 120vh;
}

/* headerMain */

.headerMain {
    background: rgb(240, 214, 180);
}

.headerMain .haederInner {
    background: linear-gradient(to right, rgb(240, 214, 180), rgba(198, 182, 210, 0.521), rgb(240, 214, 180));
    padding: 35px 0 29px 0;
}

.headerMain .haederInner .maincontainer {
    max-width: 1330px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
}

.headerMain .haederInner .maincontainer .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMain .haederInner .maincontainer .headerLeft .brandLogo a {
    font-family: 'butlerbold';
    font-size: 52px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
}

.headerMain .haederInner .maincontainer .headerLeft .brandLogo {
    padding:5px 0 0 15px;
}

.headerMain .haederInner .maincontainer .headerRight .navigationBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.headerMain .haederInner .maincontainer .headerRight .navigationBar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 17px;
}

.headerMain .haederInner .maincontainer .headerRight .navigationBar ul li a {
    text-decoration: none;
    text-transform: capitalize;
}

.headerMain .haederInner .maincontainer .headerRight .navigationBar nav ul li {
    padding: 0 20px 0 21px;
    display: block;
}

.headerMain .haederInner .maincontainer .headerRight .navigationBar nav ul li:first-child {
    padding: 0 39px 0 0;
}
.headerMain .haederInner .maincontainer .headerRight .navigationBar nav ul li:nth-child(2) {
    padding: 0 15px 0 0;
}
.headerMain .haederInner .maincontainer .headerRight .navigationBar nav ul li:nth-child(3) {
    padding: 0 17px 0 25px;
}

.headerMain .haederInner .maincontainer .headerRight .navigationBar nav ul li a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.4px;
    text-transform: lowercase;
}

.headerMain .haederInner .maincontainer .headerRight .navigationBar .booking ul li a {
    padding: 19px 40px 18px 42px;
    border: 1px solid #000;
    border-radius: 50px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


/* hoemSec1 */
.section1 {
    /* height: 200vh; */
    background-color: #f5f2ef;
    padding-bottom: 30px;
}

.section1 .section1Img {
    background-attachment: fixed;
    background-image: url(assets/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section1 img {
    width: 100%;
    opacity: 0;

}

.section1 .section1content .contentOuter {
    position: relative;
    top: -60px;
    max-width: 70%;
    /* height: 40vh; */
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.322); */
}

.section1 .section1content .contentOuter .contentInner {
    border: 1px solid #000;
    height: 100%;
    text-align: center;
    padding: 70px 20px 50px 20px;
}

.section1 .section1content .contentOuter .contentInner h1 {
    color: rgba(229, 190, 210, 1);
    font-size: 62px;
    font-family: 'butlermedium';
    margin-bottom: 0;
}

.section1 .section1content .contentOuter .contentInner h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    color: #000;
    font-size: 24px;
    margin-top: 20px;
}

.section1 .section1content .contentOuter .contentInner p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 0;
}

.section1 .section1content .contentOuter .contentInner .bannerBtn {
    background-color: rgba(208, 216, 206, 1);
    border: 1px solid #000;
    color: #000;
    border-radius: 50px;
    padding: 13px 40px 15px;
    margin-top: 30px;
    font-size: 20px;
}

.section1 .section1content .contentOuter .contentInner .bannerBtn:hover {
    background-color: rgba(229, 190, 210, 1);
}

/* srction2 */
.srction2 {
    background-color: #f7e1ea;
    padding: 45px 0;
}

.srction2 .brandsLog {
    background-color: #000;
}

.srction2 .brandsLogo .blInner {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

/* .srction2 .brandsLogo .blInner img{
    width: 100px;
} */


/* .homeSec3 */
.homeSec3 {
    background-color: #f5f2ef;
    padding: 90px 0;
    position: relative;
}

.homeSec3::after {
    position: absolute;
    display: block;
    top: 40%;
    left: -12%;
    content: 'INSPIRE';
    transform: rotate(-90deg);
    font-size: 125px;
    z-index: 1;
    color: rgba(208, 216, 206, 0.671);
    font-family: 'butlerregular';
}

.homeSec3 .innrr {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.homeSec3 .innrr .left,
.homeSec3 .innrr .right {
    width: 50%;
}

.homeSec3 .innrr .left .innerImg {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: auto;
    left: 20px;
}

.homeSec3 .innrr .left .innerImg img {
    width: 100%;
}

.homeSec3 .innrr .right {
    padding-left: 45px;
}

.homeSec3 .innrr .right h1 {
    color: #000;
    font-size: 46px;
    font-family: 'butlerlight';
    margin-bottom: 0;
}

.homeSec3 .innrr .right h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    color: #000;
    font-size: 24px;
    margin-top: 20px;
}

.homeSec3 .innrr .right p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 0;
}

.homeSec3 .innrr .right .bannerBtn {
    background-color: rgba(208, 216, 206, 1);
    border: 1px solid #000;
    color: #000;
    border-radius: 60px;
    padding: 13px 50px 15px;
    margin-top: 30px;
    font-size: 14px;
    text-transform: uppercase;
}

.homeSec3 .innrr .right .bannerBtn:hover {
    background-color: rgba(229, 190, 210, 1);
}


/* Section 4 */
.section4 {
    position: relative;
    width: 100%;
    height: 120vh;
}

.section4 video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
}

.section4 .sec4Content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: rgba(240, 214, 180, 1);
    background-color: transparent;
    background-origin: border-box;
    background-image: linear-gradient(0deg, transparent 0%, rgba(240, 214, 180, 1) 100%);
    border-style: solid;
    border-radius: inherit;
}

.section4 .sec4Content {
    text-align: center;
}

.section4 .sec4Content .container {
    /* padding: 45px 0; */
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* gap: 20px; */
}

.section4 .sec4Content h1 {
    font-family: 'butlermedium';
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.section4 .sec4Content h4 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 14px;
}

.section4 .sec4Content img {
    width: 200px;
    transform: rotate(-13deg);
    margin-bottom: 30px;
    margin-top: 20px;
}

.section4 .sec4Content p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section4 .sec4Content h2 {
    font-family: 'butlermedium';
    font-size: 42px;
    color: #fff;
    margin-bottom: 20px;
}

.section4 .sec4Content button {
    border: 1px solid #000;
    background-color: #eebcd0;
    padding: 15px 40px;
    border-radius: 50px;
}

/* .secrtion5 */
.secrtion5 {
    /* padding: 90px 0; */
    max-width: 1200px;
    width: 100%;
    padding: 90px 13px;
    margin: auto;
}

.secrtion5 .upper {
    font-family: 'butlerregular';
    text-align: center;
}

.secrtion5 .upper h1 {
    font-size: 58px;
}

.secrtion5 .upper p {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.secrtion5 .lowerCon {
    margin-top: 45px;
    justify-content: center;
    gap: 30px;
    align-items: center;
    display: flex;

}

.secrtion5 .lowerCon .lowerInner {
    width: 33.33%;
}

.secrtion5 .lowerCon .lowerInner .innermain {
    border-radius: 300px 300px 0 0;
    border: 1px solid #eebcd0;
    padding: 5px;
    overflow: hidden;
}

.secrtion5 .lowerCon img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 300px 300px 0 0;
}

.secrtion5 .lowerCon .cntnt {
    padding: 30px 0 0 0;
}

.secrtion5 .lowerCon .cntnt h1 {
    text-align: center;
    font-size: 36px;
    color: #eebcd0;
    font-family: 'butlermedium';
    text-transform: capitalize;
}

.secrtion5 .lowerCon .cntnt p {
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.section6 {

    width: 100%;
    height: 100vh;
    /* background-image: url(assets/images/sec6.jpg); */
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.692) 0%, rgba(198, 182, 210, 0.658) 100%), url(assets/images/sec6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section6 .inner {
    max-width: 1200px;
    width: 100%;
    padding: 90px 13px;
    margin: auto;
    height: 100%;
}

.section6 .inner h1 {
    text-align: center;
    font-family: 'butlermedium';
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.section6 .inner p {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 14px;
}

/* section7 */

.section7 .mainInner {
    max-width: 1150px;
    width: 100%;
    padding: 90px 13px;
    margin: auto;
}

.section7 .mainInner .outer_cnetn {
    display: flex;
}

.section7 .mainInner .outer_cnetn .left,
.section7 .mainInner .outer_cnetn .right {
    width: 50%;
}

.section7 .mainInner .outer_cnetn .left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 30px 0 0;
}

.section7 .mainInner .outer_cnetn .left h1 {
    font-size: 50px;
    font-family: 'butlerlight';
}

.section7 .mainInner .outer_cnetn .left h3 {
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.section7 .mainInner .outer_cnetn .left p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgba(36, 36, 36, 0.623);
    margin-bottom: 30px;
}

.section7 .mainInner .outer_cnetn .right img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}


/* section8 */

.section8 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.692) 0%, rgba(198, 182, 210, 0.658) 100%), url(assets/images/sec8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section8 .inner {
    max-width: 1200px;
    width: 100%;
    padding: 90px 13px;
    margin: auto;
    height: 100%;
}

.section8 .inner .sec8con {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.section8 .inner h1 {
    margin-bottom: 20px;
    font-family: 'butlermedium';
    color: #000;
    font-size: 52px;

}

.section8 .inner button {
    border: 1px solid #000;
    background-color: #eebcd0;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
}

/* sction9 */

.sction9 .sec9Inner {
    max-width: 1200px;
    width: 100%;
    padding: 90px 13px;
    margin: auto;
    height: 100%;
    display: flex;
    gap: 30px;
}

.sction9 .sec9Inner .left {
    width: 60%;
}

.sction9 .sec9Inner .left .leftCon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

}

/* .sction9 .sec9Inner .left .leftCon .imgInner{
    width: 50%;
} */
.sction9 .sec9Inner .left .leftCon .imgInner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.sction9 .sec9Inner .right {
    width: 40%;

}

.sction9 .sec9Inner .right .rightInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.sction9 .sec9Inner .right .rightInner h3 {
    font-size: 15px;
    letter-spacing: 3px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;

}

.sction9 .sec9Inner .right .rightInner h1 {
    font-size: 48px;
    font-family: 'butlerlight';
    margin: 0;
    line-height: 1;
}

.sction9 .sec9Inner .right .rightInner p {
    margin: 5px 0 0 0;
    font-size: 26px;
    color: orange;
    line-height: 1;
    font-family: 'Playfair Display', serif;

}


/* Footer */
footer {
    background-image: linear-gradient(0deg, rgba(240, 214, 180, 1) 0%, rgba(229, 190, 210, 1) 100%);
}

footer .footerInner {
    max-width: 1200px;
    width: 100%;
    padding: 90px 13px;
    margin: auto;
    height: 100%;
    display: flex;
    gap: 30px;
}

footer .footerInner .footerLeft {
    width: 45%;
    border-right: 1px solid #fff;
    padding: 45px;
}

footer .footerInner .footerright {
    width: 55%;
}

footer .footerInner .footerLeft .footerLogo h1 {
    font-family: 'butlerbold';
    font-size: 52px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
    margin: 0;
    line-height: 1;
}

footer .footerInner .footerLeft .footerLogo p {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

footer .footerInner .footerLeft .leftLower {
    margin-top: 45px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

footer .footerInner .footerLeft .leftLower h1 {
    font-family: 'butlerlight';
    font-size: 36px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
    margin: 0;
    line-height: 1;
}

footer .footerInner .footerLeft .leftLower .footerIcon {
    transform: rotate(-45deg);
}

footer .footerInner .footerLeft .leftLower .footerIcon i {
    font-size: 30px;
}

footer .footerInner .footerLeft .leftLower p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    color: #000;
    letter-spacing: 2px;
    line-height: 1;
}

footer .footerInner .footerright {
    padding: 45px;
}

footer .footerInner .footerright h1 {
    font-family: 'butlerlight';
    font-size: 52px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
    margin: 0;
    line-height: 1;
}

footer .footerInner .footerright .footerNav {
    padding-top: 30px;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

footer .footerInner .footerright .footerNav ul {
    display: flex;
    list-style: none;
    gap: 55px;
    padding: 0;
    margin: 0;
}

footer .footerInner .footerright .footerNav ul li a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    text-decoration: none;
}

footer .footerInner .footerright .rightLower {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 45px 25px 45px 0;
    border-bottom: 1px solid #fff;
}

footer .footerInner .footerright .rightLower .lowerRight {
    display: flex;
    gap: 30px;
}

footer .footerInner .footerright .rightLower .lowerRight a {
    color: #fff;
}

footer .footerInner .footerright .rightLower .lowerRight a i {
    font-size: 20px;
}

.footerButtom {
    padding: 7px 13px;
}

.footerButtom p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}




/* Testimonials */
.Testimonials {
    padding: 0px 0 90px 0;
}

.Testimonials .Testimonials_title {
    padding-top: 113px;
    text-align: center;
}

.Testimonials .Testimonials_title h1 {
    font-family: 'butlermedium';
    font-size: 60px;
    color: #eebcd0;
    text-decoration: none;
    letter-spacing: .16px;
}

.Testimonials .maintestimonial {
    max-width: 927px;
    padding: 0 12px;
    width: 100%;
    margin: auto;
}

.Testimonials .maintestimonial .testInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
    gap: 45px;
}

.Testimonials .maintestimonial .testInner .left {
    width: 24%;
}

.Testimonials .maintestimonial .testInner .left .imageInner {
    width: 212px;
    height: 271px;
    border-radius: 160px 160px 0 0;
    overflow: hidden;
}

.Testimonials .maintestimonial .testInner .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Testimonials .maintestimonial .testInner .right {
    width: 76%;
}

.Testimonials .maintestimonial .testInner .right .testText {
    display: flex;
    flex-direction: column;
}

.Testimonials .maintestimonial .testInner .right .testText h1 {
    font-family: 'butlermedium';
    font-size: 30px;
    color: #000;
    text-decoration: none;
    padding-top: 45px;
    margin-bottom: 10px;

}

.Testimonials .maintestimonial .testInner .right .testText p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgba(36, 36, 36, 0.788);
    line-height: 1.8;
    letter-spacing: -.1px;
}

/* blogSec1 */
.blogSec1osuter .blogSec1 {
    background-image: linear-gradient(246deg, rgba(198, 182, 210, 0.716) 0%, rgba(255, 255, 255, 0.716) 100%), url(assets/images/blogsec1Img.jpg);
    background-size: cover;
    /* background-position: center; */
    width: 100%;
    height: 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blogSec1osuter .blogSec1 .innerContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    /* margin-top: 133px; */
    padding: 0 28px;
}

.blogSec1osuter .blogSec1 .innerContent h1 {
    font-family: 'butlermedium';
    font-size: 60px;
    color: #000;
    text-decoration: none;
    /* letter-spacing:.16px; */
    margin: 0;
}

.blogSec1osuter .blogSec1 .innerContent p {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.blogSec1osuter .blogSec2 {
    padding: 90px 0;
}

.blogSec1osuter .blogSec2 .sec2outer {
    max-width: 967px;
    width: 100%;
    padding: 0 13px;
    margin: auto;
}

.blogSec1osuter .blogSec2 .sec2outer .secInner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.blogSec1osuter .blogSec2 .sec2outer .secInner .left {
    width: 40%;
}

.blogSec1osuter .blogSec2 .sec2outer .secInner .right {
    width: 60%;
    padding-left: 65px;
}

.blogSec1osuter .blogSec2.blogsec3 .sec2outer .secInner .right {
    padding-left: 0;
}

.blogSec1osuter .blogSec2 .sec2outer .secInner .left .ImgInner {
    width: 315px;
    height: 472px;
}

.blogSec1osuter .blogSec2 .sec2outer .secInner .left .ImgInner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogSec1osuter .blogSec2 .sec2outer .secInner .right h1 {
    font-family: 'butlermedium';
    font-size: 40px;
    color: #000;
    text-decoration: none;

}

.blogSec1osuter .blogSec2 .sec2outer .secInner .right p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgba(36, 36, 36, 0.788);
    line-height: 1.8;
    /* letter-spacing: -.1px; */
    margin-bottom: 45px;
}

.blogSec1osuter .blogSec2 .sec2outer .secInner .right button {
    background-color: rgb(208, 216, 206);
    color: #000;
    border: 1px solid #000;
    padding: 20px 70px;
    border-radius: 50px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-transform: capitalize;

}


/* servicesec1 */
.servicesec1 {
    background-color: #d8d8d8;
    margin-top: 170px;
    padding: 90px 0;
}

.servicesec1 .sec1Inner {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 30px;
    padding: 0 13px;

}

.servicesec1 .sec1Inner .right,
.servicesec1 .sec1Inner .left {
    width: 50%;
}

.servicesec1 .sec1Inner .left .srvcImg {
    width: 510px;
    padding-left: 23px;
    margin: auto;
}

.servicesec1 .sec1Inner .left .srvcImg img {
    width: 100%;
}

.servicesec1 .sec1Inner .right {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 35px;
    margin-top: 67px;
    /* padding-top: 10px; */
}

.servicesec1 .sec1Inner .right h1 {
    font-family: 'butlerlight';
    font-size: 50px;
    color: #000;
    text-decoration: none;

}

.servicesec1 .sec1Inner .right p {
    font-size: 14px;
    color: #474747;
    font-weight: 300;
    line-height: 1.78;
    font-family: 'Poppins', sans-serif;
    padding-top: 4px;
    letter-spacing: .01px;
}

/* sersec2 */
.sersec2 .sersec2Img {
    height: 414px;
    position: relative;
}

.sersec2 .sersec2Img img {
    width: 100%;
    height: 100%;
}
.sersec2 .sersec2Img .conMain{
    position: absolute;
    top: 0;
    left: 13px;
    right: 13px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sersec2 .sersec2Img .conMain h1{
    font-family: 'butlerbold';
    font-size: 38px;
    color: #000;
    text-decoration: none;
    
}
.sersec2 .sersec2Img .conMain p{
    font-size: 14px;
    color: #474747;
    font-weight: 300;
    line-height: 1.78;
    font-family: 'Poppins', sans-serif;
    padding-top: 7px;
    letter-spacing:2px;
}


/* serSec3 */
.serSec3 {
    padding: 90px 0 0 0;
}

.serSec3 .sersec3Inner {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 13px;

}

.serSec3 .sersec3Inner .sercontainer .inner {
    display: flex;
    padding-bottom: 90px;
}

.serSec3 .sersec3Inner .sercontainer .inner .left {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 110px;
}

.serSec3 .sersec3Inner .sercontainer .inner .left h1 {
    color: rgba(229, 190, 210, 1);
    line-height: 1;
    font-size: 60px;
    text-align: left;
    font-family: 'Butlermedium';
    font-weight: 400;
    font-style: normal;
}

.serSec3 .sersec3Inner .sercontainer .inner .left h3 {
    color: rgba(36, 36, 36, 1);
    font-size: 24px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 5px;
}

.serSec3 .sersec3Inner .sercontainer .inner .left p {
    color: rgba(36, 36, 36, 1);
    line-height: 1.8;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: justify;
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    margin-top: 20px;
}

.serSec3 .sersec3Inner .sercontainer .inner .left.forPadding {
    padding-left: 45px;
}
.serSec3 .sersec3Inner .sercontainer .inner .left.forPadding button{
    padding: 17px 70px;
    font-size: 14px;
    text-transform: uppercase;
}
.serSec3 .sersec3Inner .sercontainer .inner .left button {
    border-color: rgba(36, 36, 36, 1);
    border: 1px solid #000;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: rgba(229, 190, 210, 1);
    transition-duration: 0.5s;
    padding: 18px 50px;
    border-radius: 60px;
    margin-top: 15px;

}

.serSec3 .sersec3Inner .sercontainer .inner .right {
    width: 50%;
}

.serSec3 .sersec3Inner .sercontainer .inner .right .rightImg {
    width: 94.5%;
    height: 680px;
    margin: auto;
}

.serSec3 .sersec3Inner .sercontainer .inner .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* aboutSec1 */
.aboutWrapper{
    margin-top: 0 ;
}
.aboutWrapper .aboutSec2{
    
    margin: 90px 0 0 0;
}
.aboutWrapper .aboutSec1 .aboutSec1outer{
    max-width: 866px;
    width: 100%;
    padding: 96px 13px 0 13px ;
    margin: auto;
}
.aboutWrapper .aboutSec1 .aboutSec1outer .inner .forImg{}
.aboutWrapper .aboutSec1 .aboutSec1outer .inner .forImg img{
    width: 100%;
}
.aboutWrapper .aboutSec1 .aboutSec1outer .inner .sec1Con{
    margin-top: 45px;
    text-align: center;
}
.aboutWrapper .aboutSec1 .aboutSec1outer .inner .sec1Con h1{
    font-family: 'butlermedium';
    font-size: 60px;
    color: #eebcd0;
    text-decoration: none;
    letter-spacing: .16px;
    margin: 0;
}
.aboutWrapper .aboutSec1 .aboutSec1outer .inner .sec1Con p{
    font-size: 14px;
    color: #474747;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    margin-top: 20px;
}
.aboutWrapper .aboutSec1 .aboutSec1outer .inner .sec1Con button{
    background-color: rgb(208, 216, 206);
    color: #000;
    border: 1px solid #000;
    padding: 17px 50px;
    border-radius: 50px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

/* aboutSec3 */

.aboutSec3{
    padding-top: 90px;
}
.aboutSec3 .sec3inner{
    max-width: 1190px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
}
.aboutSec3 .sec3inner .innner .secImages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.aboutSec3 .sec3inner .innner .secImages img{
    width: 100%;
}
.aboutSec3 .sec3inner .innner .seccont{
    padding-top: 60px;
    text-align: center;
}
.aboutSec3 .sec3inner .innner .seccont h1{
    font-family: 'butlerlight';
    font-size: 50px;
    color: #000;
    text-decoration: none;
    letter-spacing: .16px;
    margin: 0;
}
.aboutSec3 .sec3inner .innner .seccont p{
    font-size: 14px;
    color: #474747;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    margin-top: 20px;
}


/* aboutSec4 */
.aboutSec4{
    margin-top: 70px; 
}
.aboutSec4 .sec4Inner{
    position: relative;
}
.aboutSec4 .sec4Inner .secImg{
    background-image: linear-gradient(to right, rgba(0,0,0,.35),rgba(0,0,0,.35)),url(assets/images/aboutSEc4Img.jpg);
    background-position: center;
    background-size: cover;
    height: 99vh;
    background-attachment: fixed;
}
.aboutSec4 .sec4Inner .secImg img{
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.aboutSec4 .sec4Inner .sec4MainCon{
    /* background-image: linear-gradient(to right, rgba(0,0,0,.35),rgba(0,0,0,.35)); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    
}

.aboutSec4 .sec4Inner .sec4MainCon .sec4Outer{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
    height: 100%;
}
.aboutSec4 .sec4Inner .sec4MainCon .inner{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.aboutSec4 .sec4Inner .sec4MainCon .inner h1{
    font-family: 'butlerlight';
    font-size: 52px;
    color: #fff;
    text-decoration: none;
    letter-spacing: .16px;
    margin: 0;
}
.aboutSec4 .sec4Inner .sec4MainCon .inner p{
    font-size: 14px;
    color: #c9c9c9;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    margin-top: 20px;
}
.aboutSec4 .sec4Inner .sec4MainCon .inner button{
    background-color: rgb(208, 216, 206);
    color: #000;
    border: 1px solid #000;
    padding:20px 50px;
    border-radius: 50px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}